﻿@model AskPeople.Web.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home";
}

<div class="col-md-9">
    <div class="interview-panel">
        <div class="user-interview">
            <h3 class="section-headers" align="center">User interview</h3>
            @if (Model.UserInterviews.Count > 0)
            {
                <table class="table">
                    <tr><th>Title</th><th>Description</th><th></th></tr>
                    @foreach (var interview in Model.UserInterviews)
                    {
                        <tr>
                            <td>@interview.Name</td>
                            <td>@interview.Description</td>
                            <td>
                                <form asp-controller="Interview" asp-action="DeleteVoting" asp-route-id="@interview.Id" method="post">
                                    @if (interview.IsPublished)
                                    {
                                        <a class="btn btn-sm btn-primary" asp-controller="Interview" asp-action="ViewResults" asp-route-id="@interview.Id">Results</a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-sm btn-primary" asp-controller="Interview" asp-action="EditVoting" asp-route-id="@interview.Id">Edit</a>
                                    }
                                    <button type="submit" class="btn btn-sm btn-danger">
                                        Delete
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <p>There are no elements!</p>
            }
        </div>
        <div class="interview-invitations">
            <h3 class="section-headers" align="center">Invitations</h3>
            @if (Model.Invitation.Count > 0)
            {
                <table class="table">
                    <tr><th>Title</th><th>Description</th><th>By</th><th></th></tr>
                    @foreach (var interview in Model.Invitation)
                    {
                        <tr>
                            <td>@interview.Title</td>
                            <td>@interview.Description</td>
                            <td>@interview.Owner</td>
                            <td>
                                @if (!interview.IsVoted)
                                {
                                    <a class="btn btn-sm btn-primary" asp-controller="Interview" asp-action="Vote" asp-route-id="@interview.Id">Vote</a>
                                }
                            </td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <p>There are no elements!</p>
            }
        </div>
        <div class="shared-for-editing">
            <h3 class="section-headers" align="center">Shared for editing</h3>
            @if (Model.SharedForEditing.Count > 0)
            {
                <table class="table">
                    <tr><th>Title</th><th>Description</th><th>Author</th><th></th></tr>
                    @foreach (var interview in Model.SharedForEditing)
                    {
                        if (!interview.IsPublished)
                        {
                             <tr>
                                 <td>@interview.Name</td>
                                 <td>@interview.Description</td>
                                 <td>@interview.Owner</td>
                                 <td>
                                     <a class="btn btn-sm btn-primary" asp-controller="Interview" asp-action="EditVoting" asp-route-id="@interview.Id">Edit</a>
                                 </td>
                             </tr>
                        }
                    }
                </table>
            }
            else
            {
                <p>There are no elements!</p>
            }
        </div>
    </div>
</div>
<div class="col-md-3 right-panel">
    <div class="creation-panel">
        <h3 class="section-headers" align="center">Create new interview</h3>
        <div>
            <a class="btn btn-primary creation-btn" asp-controller="Interview" asp-action="CreateVoting" role="button">New voting</a>
            <a class="btn btn-primary creation-btn" href="#" role="button">New questionaire</a>
        </div>
    </div>
</div>