﻿@using AskPeople.DAL.Entities
@model AskPeople.Web.ViewModels.VotingViewModel
@{
    ViewData["Title"] = "Create Voting";
}

<div class="container-fluid">
    
    <form id="voting-form" class="row" method="post">
        <div class="col-md-6 interview-config">
            <div>
                <label asp-for="Name">Title</label>
                <input asp-for="Name" type="text" class="form-control" id="voting-name" placeholder="Enter name">
                <span asp-validation-for="Name" id="voting-name-validation" class="validate-warning"></span>
            </div>
            <div>
                <label asp-for="Description">Description</label>
                <input asp-for="Description" type="text" class="form-control" id="voting-description" placeholder="Enter description">
                <span asp-validation-for="Description" id="voting-description-validation" class="validate-warning"></span>
            </div>
            <div>
                <label asp-for="Access">Access</label>
                <select class="form-control" id="voting-access" asp-for="Access" onchange="onVotingAccessChanged()">
                    @foreach (var value in Enum.GetValues(typeof(InterviewAccess)))
                    {
                        <option>@value</option>
                    }
                </select>
            </div>
            <div id="voting-password-block" style="display: none;">
                <label asp-for="Password">Password</label>
                <input asp-for="Password" type="text" class="form-control" id="voting-password" placeholder="Enter password">
                <span asp-validation-for="Password" id="voting-password-validation" class="validate-warning"></span>
            </div>
            <div>
                <label asp-for="StartTime">Start Time</label>
                <input asp-for="StartTime" type="date" class="form-control" id="voting-starttime" min="2018-01-02">
                <span asp-validation-for="StartTime" id="voting-starttime-validation" class="validate-warning"></span>
            </div>
            <div>
                <label asp-for="FinishTime">Finish Time</label>
                <input asp-for="FinishTime" type="date" class="form-control" id="voting-finishtime" min="2018-01-02">
                <span asp-validation-for="FinishTime" id="voting-finishtime-validation" class="validate-warning"></span>
            </div>
            <div>
                <label asp-for="Participants">Participants</label>
                <small id="participantsHelp" class="text-muted">Input names divided by space</small>
                <textarea asp-for="Participants" class="form-control" name="participants" id="participants" rows="3" aria-describedby="participantsHelp" placeholder="..."></textarea>
                <span asp-validation-for="Participants"></span>
            </div>
            <div>
                <label asp-for="AlternativeEditors">Additional editors</label>
                <small id="alternativeEditorsHelp" class="text-muted">Input names divided by space</small>
                <textarea asp-for="AlternativeEditors" class="form-control" name="alternativeEditors" id="alternativeEditors" rows="3" aria-describedby="alternativeEditorsHelp" placeholder="..."></textarea>
                <span asp-validation-for="AlternativeEditors"></span>
            </div>
            <div class="form-check">
                <input class="form-check-input" asp-for="IsPublished" type="checkbox" id="voting-ispublished">
                <label class="form-check-label" asp-for="IsPublished">
                    Publish voting after editing
                </label>
            </div>
            <div asp-validation-summary="ModelOnly"></div>
            <div class="text-center register-sub-btn">
                <input type="submit" class="btn btn-primary col-md-12" onclick="validateVotingEditionView()" value="Create"/>
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <label asp-for="Tags">Tags</label>
                <small id="tagsHelp" class="text-muted">Input tags with the first symbol # and each tags divided by space</small>
                <textarea asp-for="Tags" class="form-control" name="tags" id="tags" rows="3" aria-describedby="tagsHelp" placeholder="..."></textarea>
                <span asp-validation-for="Tags"></span>
            </div>
            <div>
                <label asp-for="Type">Type</label>
                <select class="form-control" id="voting-type" asp-for="Type" onchange="onVotingTypeChanged()">
                    @foreach (var value in Enum.GetValues(typeof(VotingType)))
                    {
                        <option>@value</option>
                    }
                </select>
            </div>
            <div id="voting-count-block" style="display: none;">
                <label asp-for="AnswerCount">Count of answers</label>
                <input asp-for="AnswerCount" type="number" min="1" class="form-control" id="voting-answ-count" placeholder="Enter count of answers">
                <span asp-validation-for="AnswerCount" id="voting-answ-count-validation" class="validate-warning"></span>
            </div>
            <label>Variants: </label>
            <div id="voting-variants-list">
                @if (Model != null)
                {
                    @foreach (var var in Model?.Variants)
                     {
                         <div class="voting-variant">
                             <input type="text" class="form-control voting-var" id="Variants" name="Variants" placeholder="Enter variant" value="@var">
                             <button class="btn btn-danger del-voting-var" type="button" onclick="onDeleteClickOnVoting(event)">Remove</button>
                             <span class="validate-warning"></span>
                         </div>
                     }
                }
                else
                {
                    <div class="voting-variant">
                        <input type="text" class="form-control voting-var" id="Variants" name="Variants" placeholder="Enter variant" value="">
                        <button class="btn btn-danger del-voting-var" type="button" onclick="onDeleteClickOnVoting(event)">Remove</button>
                        <span class="validate-warning"></span>
                    </div>
                }
            </div>
            <div class="text-center add-voting-var">
                <input type="button" class="btn btn-primary col-md-12" value="Add" onclick="onAddClickOnVoting()"/>
            </div>
        </div>
    </form>
</div>

<script src="~/js/validation.js"></script>  
<script src="~/js/actions.js"></script>  