﻿@using AskPeople.DAL.Entities
@using Microsoft.Data.OData.Query.SemanticAst
@model AskPeople.Web.ViewModels.MakeVoteViewModel
@{
    ViewData["Title"] = "Vote!";
}

<div class="container-fluid col-md-4 vote-container">
    <div class="vote-panel container">
        <h2>Make your decision!</h2>
        @if (Model.Type != VotingType.Single)
        {
            <p>You can change @Model.Count variants.</p>
        }
        @if (Model.Type == VotingType.Priority)
        {
            <p>Input priority for variants. A prioprity value should be between 1 and @Model.Count</p>
        }
        <form id="vote-form" method="post" asp-action="Vote">
            <div>
                <input id="voting-id" type="hidden" asp-for="Id" value="@Model.Id"/>
                <input id="voting-count" type="hidden" asp-for="Count" value="@Model.Count"/>
                <input id="voting-type" type="hidden" asp-for="Type" value="@Model.Type.ToString()"/>
            </div>
            @for (int i = 0; i < Model.Variants.Count; i++)
            {
                <div class="voting-variant col-md-6">
                    <input type="hidden" name="Variants[@i].Value" value="@Model.Variants[i].Value" />
                    <label>@Model.Variants[i].Value</label>
                    <input type="number" class="helper-text" name="Variants[@i].Points" min="0" onchange="validatePriorityVoting(event)" max="@Model.Count" value=""/>
                </div>
            }
            <span id="val-warning" class="validate-warning"></span>
            <div class="text-center register-sub-btn">
                <input type="submit" class="btn btn-primary col-md-12" onclick="validateFormSubmition()" value="Vote"/>
            </div>
        </form>
    </div>
</div>

<script src="~/js/voting.js"></script>
