﻿@model AskPeople.Web.ViewModels.VotingResultViewModel
@{
    ViewData["Title"] = "Results";
}

<div class="container-fluid vote-container col-md-4">
    <div class="col-md-8">
        <div>
            <h2>@Model.Name results</h2>
            <div>
                <label>Description:</label>
                <p>@Model.Description</p>
            </div>
            <div>
                <label>Type of voting:</label>
                <p>@Model.Type</p>
            </div>
            <div>
                <label>Count of answers:</label>
                <p>@Model.Count</p>
            </div>
            <div>
                <table class="table">
                    @foreach (var variant in Model.VariantResults)
                    {
                        <tr>
                            <td>@variant.Variant</td><td>@variant.Points</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>
