﻿<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/mystyles.css">

    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row" style="height:10%;">
            <div class="col-md-12">
                <div class="logo-div"><h2 class="logo-text"><b>AskPeople</b></h2> ask something</div>
                <div class="register-login">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="user-name break"><a asp-controller="Profile" asp-action="Index">@User.Identity.Name</a></div>
                        <div class="register-login-btn">
                            <form method="post" asp-controller="Authentification" asp-action="LogOff">
                                <input type="submit" class="btn btn-link logoff-btn" value="Log off" />
                            </form>
                        </div>
                    }
                    else
                    {
                        <a asp-controller="Authentification" class="break" asp-action="Login">Log in</a>
                        <a asp-controller="Authentification" asp-action="Register">Registration</a>
                    }
                </div>
            </div>
        </div>
        <div class="row main-panel" style="height:90%;">
            @RenderBody()
        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
</body>
</html>