﻿@model AskPeople.Web.ViewModels.EditProfileViewModel
@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/mystyles.css">

    <title>Profile editing</title>
</head>
<body>
    <div class="container col-md-5 register-main">
        <div class="container col-md-7">
            <div class="register-logo"><h2>Profile</h2></div>
            <form method="post">
                <div class="form-group">
                    <input type="hidden" asp-for="Id" />
                </div>
                <div class="form-group">
                    <input type="hidden" asp-for="OldTags" />
                </div>
                <div class="form-group">
                    <input type="hidden" asp-for="OldEmail" />
                </div>
                <div class="form-group">
                    <input type="hidden" asp-for="OldNickname" />
                </div>
                <div class="form-group">
                    <label asp-for="Email">Email address</label>
                    <input asp-for="Email" type="email" class="form-control" id="email" placeholder="Enter email">
                    <span asp-validation-for="Email" id="email-validation" class="validate-warning"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Nickname">Nickname</label>
                    <input asp-for="Nickname" type="text" class="form-control" id="nickname" placeholder="Enter nickname">
                    <span asp-validation-for="Nickname" id="nickname-validation" class="validate-warning"></span>
                </div>
                <div>
                    <label asp-for="Tags">Tags</label>
                    <textarea asp-for="Tags" name="tags" id="tags" cols="40" rows="3" aria-describedby="tagsHelp" placeholder="#tag1 #tag2 ..."></textarea>
                    <small id="tagsHelp" class="form-text text-muted">Input tags seperated by space</small>
                    <span asp-validation-for="Tags"></span>
                </div>
                <div asp-validation-summary="ModelOnly"></div>
                <div class="text-center register-sub-btn">
                    <input type="submit" class="btn btn-primary col-md-5" value="Save" />
                    <a class="btn btn-primary col-md-5" asp-controller="Home" asp-action="Index">Back</a> 
                </div>
            </form>
        </div>
    </div>

    <script src="~/js/validation.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
</body>
</html>
