﻿@model AskPeople.Web.ViewModels.LoginViewModel
@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/mystyles.css">

    <title>Welcome</title>
</head>
<body>
    <div class="container col-md-5 register-main">
        <div class="container col-md-7">
            <div class="register-logo"><h2>Welcome to <b>AskPeople</b> </h2></div>
            <form id="loginForm" method="post">
                <div class="form-group">
                    <label asp-for="Nickname">Nickname</label>
                    <input asp-for="Nickname" type="text" class="form-control" id="nickname" placeholder="Enter nickname">
                    <span asp-validation-for="Nickname" id="nickname-validation" class="validate-warning"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password">Password</label>
                    <input asp-for="Password" type="password" class="form-control" id="password" placeholder="Password">
                    <span asp-validation-for="Password" id="password-validation" class="validate-warning"></span>
                </div>
                <div>
                    <label asp-for="RememberMe"></label>
                    <input asp-for="RememberMe" />
                </div>
                <div>
                    <a asp-controller="Authentification" asp-action="Register">Registration</a>
                </div>
                <div asp-validation-summary="ModelOnly"></div>
                <div class="text-center register-sub-btn">
                    <input type="submit" class="btn btn-primary col-md-5" onClick="validateLoginView()" value="Log In" />
                </div>
            </form>
        </div>
    </div>
    
    <script src="~/js/validation.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>


</body>
</html>
