﻿html, .container-fluid {
    height: 100%;
}

body {
    background-color: #4286f4;
    height: auto !important;
    display: flex;
}

.register-main {
    border-left: 3px solid #042e70;
    border-right: 3px solid #042e70;
    border-bottom: 3px solid #042e70;
    background-color: #ffffff;
}

.register-sub-btn {
    margin: 20px 0;
}

.register-logo {
    margin: 20px 0;
}

#loginForm a:hover {
    color: #042e70;
}

.validate-warning {
    color: #e50202;
}

.main-panel, .interview-panel {
    background-color: aliceblue;
} 

.interview-panel {
    border-right: 2px solid #0e203f;
    margin-top: 10px;
    
}

.right-panel {
    background-color: aliceblue;
}

.logo-text, .logo-div {
    display: inline;
    color: aliceblue;
}

.register-login {
    display: inline;
    float: right;
    padding: 10px;
    background-color: #173566;
    border: 2px solid #0e203f;
    color: aliceblue;
}

.register-login a, a:hover {
    color: aliceblue;   
}

.creation-panel {
    margin-top: 10px;    
}

.section-headers {
    background-color: #4286f4;
    color: aliceblue;
    border: 3px solid #173566;
    padding: 10px;
}

.creation-btn {
    margin-top: 15px;
    display: block;
    background-color: #173566;
}

.register-login-btn, .user-name {
    display: inline;
}

.register-login-btn {
    float: right;
}

.logoff-btn {
    padding: 0;
    margin-left: 10px;
}

.break {
    border-right: 2px solid aliceblue;
    padding-right: 5px;
}

.interview-config {
    border-right: 3px dashed #173566;
    margin-top: 10px;
}

.del-voting-var {
    display: inline;
    float: right;
    width: 15%;
}

.voting-var {
    width: 85%;
    display: inline;
}

.add-voting-var {
    margin-top: 25px;
}

.voting-variant {
    margin-top: 10px;
}

.vote-container {
    border-right: 2px solid #173566;
    border-left: 2px solid #173566;
    background-color: #ffffff;
     
}